# Dependências
node_modules/
package-lock.json
yarn.lock

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# Diretórios de produção
/build
/dist

# Chaves de deploy
*.pem

# Arquivos de configuração de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Diretórios de cache
.cache
.next
.nuxt
.out

# Vários
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.pid.lock

# Diretórios de IDE/editor
.vscode/
.idea/
*.sublime-workspace

# Arquivos de bundle
*.tgz
*.tar.gz

# Arquivos de teste
/coverage
/.nyc_output

# Arquivos de produção
*.min.js
*.min.css

# Pasta de documentação
/out/
/doc/

# Arquivos específicos do projeto
# Adicione aqui qualquer arquivo ou diretório específico do seu projeto que não deva ser versionado
# Por exemplo, se você tiver arquivos de dados locais:
# /local_data/
